---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getStationsFilterXML?StationText=Dublin%20Connolly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjStationFilter
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objStationFilter>\r\n    <StationDesc_sp>Dublin&amp;nbsp;Connolly</StationDesc_sp>\r\n
        \   <StationDesc>Dublin Connolly</StationDesc>\r\n    <StationCode>CNLLY</StationCode>\r\n
        \ </objStationFilter>\r\n</ArrayOfObjStationFilter>"
  recorded_at: Mon, 05 Oct 2015 20:06:38 GMT
recorded_with: VCR 2.9.3
