---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getStationsFilterXML?StationText=Howth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjStationFilter
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objStationFilter>\r\n    <StationDesc_sp>Howth&amp;nbsp;Junction</StationDesc_sp>\r\n
        \   <StationDesc>Donaghmede ( Howth Junction )</StationDesc>\r\n    <StationCode>HWTHJ</StationCode>\r\n
        \ </objStationFilter>\r\n  <objStationFilter>\r\n    <StationDesc_sp>Howth</StationDesc_sp>\r\n
        \   <StationDesc>Howth</StationDesc>\r\n    <StationCode>HOWTH</StationCode>\r\n
        \ </objStationFilter>\r\n  <objStationFilter>\r\n    <StationDesc_sp>Howth&amp;nbsp;Junction</StationDesc_sp>\r\n
        \   <StationDesc>Howth Junction</StationDesc>\r\n    <StationCode>HWTHJ</StationCode>\r\n
        \ </objStationFilter>\r\n</ArrayOfObjStationFilter>"
  recorded_at: Sat, 19 Apr 2014 07:25:18 GMT
recorded_with: VCR 2.9.0
