---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getStationDataByNameXML?StationDesc=Dublin%20Connolly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjStationData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objStationData>\r\n    <Servertime>2014-04-19T08:25:16.77</Servertime>\r\n
        \   <Traincode>E904 </Traincode>\r\n    <Stationfullname>Dublin Connolly</Stationfullname>\r\n
        \   <Stationcode>CNLLY</Stationcode>\r\n    <Querytime>08:25:16</Querytime>\r\n
        \   <Traindate>19 Apr 2014</Traindate>\r\n    <Origin>Bray</Origin>\r\n    <Destination>Howth</Destination>\r\n
        \   <Origintime>07:54</Origintime>\r\n    <Destinationtime>09:05</Destinationtime>\r\n
        \   <Status>En Route</Status>\r\n    <Lastlocation>Departed Sydney Parade</Lastlocation>\r\n
        \   <Duein>16</Duein>\r\n    <Late>2</Late>\r\n    <Exparrival>08:39</Exparrival>\r\n
        \   <Expdepart>08:41</Expdepart>\r\n    <Scharrival>08:37</Scharrival>\r\n
        \   <Schdepart>08:39</Schdepart>\r\n    <Direction>Northbound</Direction>\r\n
        \   <Traintype>DART</Traintype>\r\n    <Locationtype>S</Locationtype>\r\n
        \ </objStationData>\r\n  <objStationData>\r\n    <Servertime>2014-04-19T08:25:16.77</Servertime>\r\n
        \   <Traincode>D907 </Traincode>\r\n    <Stationfullname>Dublin Connolly</Stationfullname>\r\n
        \   <Stationcode>CNLLY</Stationcode>\r\n    <Querytime>08:25:16</Querytime>\r\n
        \   <Traindate>19 Apr 2014</Traindate>\r\n    <Origin>Dublin Pearse</Origin>\r\n
        \   <Destination>Maynooth</Destination>\r\n    <Origintime>08:36</Origintime>\r\n
[...]
