---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getStationDataByNameXML?StationDesc=Dublin%20Connolly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjStationData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objStationData>\r\n    <Servertime>2015-10-05T21:06:38.937</Servertime>\r\n
        \   <Traincode>E934 </Traincode>\r\n    <Stationfullname>Dublin Connolly</Stationfullname>\r\n
        \   <Stationcode>CNLLY</Stationcode>\r\n    <Querytime>21:06:38</Querytime>\r\n
        \   <Traindate>05 Oct 2015</Traindate>\r\n    <Origin>Bray</Origin>\r\n    <Destination>Howth</Destination>\r\n
        \   <Origintime>20:25</Origintime>\r\n    <Destinationtime>21:33</Destinationtime>\r\n
        \   <Status>En Route</Status>\r\n    <Lastlocation>Departed Dublin Pearse</Lastlocation>\r\n
        \   <Duein>5</Duein>\r\n    <Late>2</Late>\r\n    <Exparrival>21:10</Exparrival>\r\n
        \   <Expdepart>21:11</Expdepart>\r\n    <Scharrival>21:08</Scharrival>\r\n
        \   <Schdepart>21:09</Schdepart>\r\n    <Direction>Northbound</Direction>\r\n
        \   <Traintype>DART</Traintype>\r\n    <Locationtype>S</Locationtype>\r\n
        \ </objStationData>\r\n  <objStationData>\r\n    <Servertime>2015-10-05T21:06:38.937</Servertime>\r\n
        \   <Traincode>D931 </Traincode>\r\n    <Stationfullname>Dublin Connolly</Stationfullname>\r\n
        \   <Stationcode>CNLLY</Stationcode>\r\n    <Querytime>21:06:38</Querytime>\r\n
        \   <Traindate>05 Oct 2015</Traindate>\r\n    <Origin>Dublin Pearse</Origin>\r\n
        \   <Destination>Maynooth</Destination>\r\n    <Origintime>21:10</Origintime>\r\n[...]
