---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getStationDataByNameXML_withNumMins?NumMins=30&StationDesc=Dublin%20Connolly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjStationData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objStationData>\r\n    <Servertime>2014-04-19T19:10:55.607</Servertime>\r\n
        \   <Traincode>D819 </Traincode>\r\n    <Stationfullname>Dublin Connolly</Stationfullname>\r\n
        \   <Stationcode>CNLLY</Stationcode>\r\n    <Querytime>19:10:55</Querytime>\r\n
        \   <Traindate>19 Apr 2014</Traindate>\r\n    <Origin>Dublin Pearse</Origin>\r\n
        \   <Destination>Drogheda</Destination>\r\n    <Origintime>19:13</Origintime>\r\n
        \   <Destinationtime>20:16</Destinationtime>\r\n    <Status>No Information</Status>\r\n
        \   <Lastlocation />\r\n    <Duein>10</Duein>\r\n    <Late>0</Late>\r\n    <Exparrival>19:19</Exparrival>\r\n
        \   <Expdepart>19:20</Expdepart>\r\n    <Scharrival>19:19</Scharrival>\r\n
        \   <Schdepart>19:20</Schdepart>\r\n    <Direction>Northbound</Direction>\r\n
        \   <Traintype>Train</Traintype>\r\n    <Locationtype>S</Locationtype>\r\n
        \ </objStationData>\r\n  <objStationData>\r\n    <Servertime>2014-04-19T19:10:55.607</Servertime>\r\n
        \   <Traincode>E930 </Traincode>\r\n    <Stationfullname>Dublin Connolly</Stationfullname>\r\n
        \   <Stationcode>CNLLY</Stationcode>\r\n    <Querytime>19:10:55</Querytime>\r\n
        \   <Traindate>19 Apr 2014</Traindate>\r\n    <Origin>Greystones</Origin>\r\n
        \   <Destination>Howth</Destination>\r\n    <Origintime>18:30</Origintime>\r\n
     [...]
