---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getCurrentTrainsXML
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjTrainPositions
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objTrainPositions>\r\n
        \   <TrainStatus>N</TrainStatus>\r\n    <TrainLatitude>51.9018</TrainLatitude>\r\n
        \   <TrainLongitude>-8.4582</TrainLongitude>\r\n    <TrainCode>D258</TrainCode>\r\n
        \   <TrainDate>05 Oct 2015</TrainDate>\r\n    <PublicMessage>D258\\nCork to
        Cobh\\nExpected Departure 21:00</PublicMessage>\r\n    <Direction>To Cobh</Direction>\r\n
        \ </objTrainPositions>\r\n  <objTrainPositions>\r\n    <TrainStatus>N</TrainStatus>\r\n
        \   <TrainLatitude>51.9018</TrainLatitude>\r\n    <TrainLongitude>-8.4582</TrainLongitude>\r\n
        \   <TrainCode>D290</TrainCode>\r\n    <TrainDate>05 Oct 2015</TrainDate>\r\n
        \   <PublicMessage>D290\\nCork to Midleton\\nExpected Departure 21:15</PublicMessage>\r\n
        \   <Direction>To Midleton</Direction>\r\n  </objTrainPositions>\r\n  <objTrainPositi[...]
