---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getCurrentTrainsXML
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjTrainPositions
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objTrainPositions>\r\n
        \   <TrainStatus>N</TrainStatus>\r\n    <TrainLatitude>51.8491</TrainLatitude>\r\n
        \   <TrainLongitude>-8.29956</TrainLongitude>\r\n    <TrainCode>P237</TrainCode>\r\n
        \   <TrainDate>19 Apr 2014</TrainDate>\r\n    <PublicMessage>P237\\nCobh to
        Cork\\nExpected Departure 08:30</PublicMessage>\r\n    <Direction>To Cork</Direction>\r\n
        \ </objTrainPositions>\r\n  <objTrainPositions>\r\n    <TrainStatus>N</TrainStatus>\r\n
        \   <TrainLatitude>51.9018</TrainLatitude>\r\n    <TrainLongitude>-8.4582</TrainLongitude>\r\n
        \   <TrainCode>P235</TrainCode>\r\n    <TrainDate>19 Apr 2014</TrainDate>\r\n
        \   <PublicMessage>P235\\nCork to Mallow\\nExpected Departure 08:20</PublicMessage>\r\n
        \   <Direction>To Mallow</Direction>\r\n  </objTrainPositions>\r\n  <objTrainPositions>[...]
