---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getTrainMovementsXML?TrainDate=19/04/2014&TrainId=P237
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjTrainMovements
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objTrainMovements>\r\n
        \   <TrainCode>P237 </TrainCode>\r\n    <TrainDate>19 Apr 2014</TrainDate>\r\n
        \   <LocationCode>COBH</LocationCode>\r\n    <LocationFullName>Cobh</LocationFullName>\r\n
        \   <LocationOrder>1</LocationOrder>\r\n    <LocationType>O</LocationType>\r\n
        \   <TrainOrigin>Cobh</TrainOrigin>\r\n    <TrainDestination>Cork</TrainDestination>\r\n
        \   <ScheduledArrival>00:00:00</ScheduledArrival>\r\n    <ScheduledDeparture>08:30:00</ScheduledDeparture>\r\n
        \   <ExpectedArrival>00:00:00</ExpectedArrival>\r\n    <ExpectedDeparture>08:30:00</ExpectedDeparture>\r\n
        \   <Arrival />\r\n    <Departure />\r\n    <AutoArrival />\r\n    <AutoDepart
        />\r\n    <StopType>C</StopType>\r\n  </objTrainMovements>\r\n  <objTrainMovements>\r\n
        \   <TrainCode>P237 </TrainCode>\r\n    <TrainDate>19 Apr 2014</TrainDate>\r\n
        \   <LocationCode>RBROK</LocationCode>\r\n    <LocationFullName>Rushbrooke</LocationFullName>\r\n
        \   <LocationOrder>2</LocationOrder>\r\n    <LocationType>S</LocationType>\r\n
        \   <TrainOrigin>Cobh</TrainOrigin>\r\n    <TrainDestination>Cork</TrainDestination>\r\n
        \   <ScheduledArrival>08:32:30</ScheduledArriva[...]
