---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getCurrentTrainsXML
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjTrainPositions
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objTrainPositions>\r\n
        \   <TrainStatus>N</TrainStatus>\r\n    <TrainLatitude>51.9112</TrainLatitude>\r\n
        \   <TrainLongitude>-8.3254</TrainLongitude>\r\n    <TrainCode>P241</TrainCode>\r\n
        \   <TrainDate>18 Apr 2014</TrainDate>\r\n    <PublicMessage>P241\\nGlounthaune
        to Cork\\nExpected Departure 11:44</PublicMessage>\r\n    <Direction>To Cork</Direction>\r\n
        \ </objTrainPositions>\r\n  <objTrainPositions>\r\n    <TrainStatus>N</TrainStatus>\r\n
        \   <TrainLatitude>51.9212</TrainLatitude>\r\n    <TrainLongitude>-8.17579</TrainLongitude>\r\n
        \   <TrainCode>P279</TrainCode>\r\n    <TrainDate>18 Apr 2014</TrainDate>\r\n
        \   <PublicMessage>P279\\nMidleton to Cork\\nExpected Departure 11:45</PublicMessage>\r\n
        \   <Direction>To Cork</Direction>\r\n  </objTrainPositions>\r\n  <objTrainPositions[...]
