---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getTrainMovementsXML?TrainDate=19/04/2014&TrainId=D288
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjTrainMovements
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objTrainMovements>\r\n
        \   <TrainCode>D288 </TrainCode>\r\n    <TrainDate>19 Apr 2014</TrainDate>\r\n
        \   <LocationCode>CORK</LocationCode>\r\n    <LocationFullName>Cork</LocationFullName>\r\n
        \   <LocationOrder>1</LocationOrder>\r\n    <LocationType>O</LocationType>\r\n
        \   <TrainOrigin>Cork</TrainOrigin>\r\n    <TrainDestination>Midleton</TrainDestination>\r\n
        \   <ScheduledArrival>00:00:00</ScheduledArrival>\r\n    <ScheduledDeparture>19:15:00</ScheduledDeparture>\r\n
        \   <ExpectedArrival>00:00:00</ExpectedArrival>\r\n    <ExpectedDeparture>19:15:00</ExpectedDeparture>\r\n
        \   <Arrival />\r\n    <Departure />\r\n    <AutoArrival />\r\n    <AutoDepart
        />\r\n    <StopType>C</StopType>\r\n  </objTrainMovements>\r\n  <objTrainMovements>\r\n
        \   <TrainCode>D288 </TrainCode>\r\n    <TrainDate>19 Apr 2014</TrainDate>\r\n
        \   <LocationCode>LSLND</LocationCode>\r\n    <LocationFullName>LittleIsland</LocationFullName>\r\n
        \   <LocationOrder>2</LocationOrder>\r\n    <LocationType>S</LocationType>\r\n
        \   <TrainOrigin>Cork</TrainOrigin>\r\n    <TrainDestination>Midleton</TrainDestination>\r\n
        \   <ScheduledArrival>19:21:30</Scheduled[...]
