---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getStationDataByNameXML?StationDesc=Clongriffin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjStationData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objStationData>\r\n    <Servertime>2014-04-19T19:10:55.677</Servertime>\r\n
        \   <Traincode>E826 </Traincode>\r\n    <Stationfullname>Clongriffin</Stationfullname>\r\n
        \   <Stationcode>GRGRD</Stationcode>\r\n    <Querytime>19:10:55</Querytime>\r\n
        \   <Traindate>19 Apr 2014</Traindate>\r\n    <Origin>Bray</Origin>\r\n    <Destination>Malahide</Destination>\r\n
        \   <Origintime>18:25</Origintime>\r\n    <Destinationtime>19:32</Destinationtime>\r\n
        \   <Status>En Route</Status>\r\n    <Lastlocation>Departed Dublin Connolly</Lastlocation>\r\n
        \   <Duein>16</Duein>\r\n    <Late>1</Late>\r\n    <Exparrival>19:25</Exparrival>\r\n
        \   <Expdepart>19:26</Expdepart>\r\n    <Scharrival>19:25</Scharrival>\r\n
        \   <Schdepart>19:25</Schdepart>\r\n    <Direction>Northbound</Direction>\r\n
        \   <Traintype>DART</Traintype>\r\n    <Locationtype>S</Locationtype>\r\n
        \ </objStationData>\r\n  <objStationData>\r\n    <Servertime>2014-04-19T19:10:55.677</Servertime>\r\n
        \   <Traincode>E827 </Traincode>\r\n    <Stationfullname>Clongriffin</Stationfullname>\r\n
        \   <Stationcode>GRGRD</Stationcode>\r\n    <Querytime>19:10:55</Querytime>\r\n
        \   <Traindate>19 Apr 2014</Traindate>\r\n    <Origin>Bray</Origin>\r\n    <Destination>Malahide</Destination>\r\n
        \   <Origintime>18:55</Origintime>\r\n    <Destinat[...]
