---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getStationDataByNameXML?StationDesc=Clongriffin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjStationData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objStationData>\r\n    <Servertime>2014-04-18T11:48:29.337</Servertime>\r\n
        \   <Traincode>E811B</Traincode>\r\n    <Stationfullname>Clongriffin</Stationfullname>\r\n
        \   <Stationcode>GRGRD</Stationcode>\r\n    <Querytime>11:48:29</Querytime>\r\n
        \   <Traindate>18 Apr 2014</Traindate>\r\n    <Origin>Bray</Origin>\r\n    <Destination>Malahide</Destination>\r\n
        \   <Origintime>11:10</Origintime>\r\n    <Destinationtime>12:20</Destinationtime>\r\n
        \   <Status>No Information</Status>\r\n    <Lastlocation />\r\n    <Duein>23</Duein>\r\n
        \   <Late>0</Late>\r\n    <Exparrival>12:11</Exparrival>\r\n    <Expdepart>12:11</Expdepart>\r\n
        \   <Scharrival>12:11</Scharrival>\r\n    <Schdepart>12:11</Schdepart>\r\n
        \   <Direction>Northbound</Direction>\r\n    <Traintype>DART</Traintype>\r\n
        \   <Locationtype>S</Locationtype>\r\n  </objStationData>\r\n  <objStationData>\r\n
        \   <Servertime>2014-04-18T11:48:29.337</Servertime>\r\n    <Traincode>E812
        </Traincode>\r\n    <Stationfullname>Clongriffin</Stationfullname>\r\n    <Stationcode>GRGRD</Stationcode>\r\n
        \   <Querytime>11:48:29</Querytime>\r\n    <Traindate>18 Apr 2014</Traindate>\r\n
        \   <Origin>Greystones</Origin>\r\n    <Destination>Malahide</Destination>\r\n
        \   <Origintime>11:30</Origintime>\r\n    <Des[...]
