---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getStationDataByNameXML?StationDesc=Clongriffin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjStationData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objStationData>\r\n    <Servertime>2014-04-19T08:25:16.643</Servertime>\r\n
        \   <Traincode>E804 </Traincode>\r\n    <Stationfullname>Clongriffin</Stationfullname>\r\n
        \   <Stationcode>GRGRD</Stationcode>\r\n    <Querytime>08:25:16</Querytime>\r\n
        \   <Traindate>19 Apr 2014</Traindate>\r\n    <Origin>Greystones</Origin>\r\n
        \   <Destination>Malahide</Destination>\r\n    <Origintime>07:30</Origintime>\r\n
        \   <Destinationtime>08:49</Destinationtime>\r\n    <Status>En Route</Status>\r\n
        \   <Lastlocation>Departed Dublin Connolly</Lastlocation>\r\n    <Duein>15</Duein>\r\n
        \   <Late>-1</Late>\r\n    <Exparrival>08:40</Exparrival>\r\n    <Expdepart>08:40</Expdepart>\r\n
        \   <Scharrival>08:40</Scharrival>\r\n    <Schdepart>08:41</Schdepart>\r\n
        \   <Direction>Northbound</Direction>\r\n    <Traintype>DART</Traintype>\r\n
        \   <Locationtype>S</Locationtype>\r\n  </objStationData>\r\n  <objStationData>\r\n
        \   <Servertime>2014-04-19T08:25:16.643</Servertime>\r\n    <Traincode>E805
        </Traincode>\r\n    <Stationfullname>Clongriffin</Stationfullname>\r\n    <Stationcode>GRGRD</Stationcode>\r\n
        \   <Querytime>08:25:16</Querytime>\r\n    <Traindate>19 Apr 2014</Traindate>\r\n
        \   <Origin>Bray</Origin>\r\n    <Destination>Malahide</Destination>\r\n    <Origintime>08:10</Origintime>\r\n
        \   <Destinati[...]
