---
http_interactions:
- request:
    method: get
    uri: http://api.irishrail.ie/realtime/realtime.asmx/getStationDataByNameXML?StationDesc=Clongriffin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfObjStationData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://api.irishrail.ie/realtime/\">\r\n  <objStationData>\r\n    <Servertime>2015-10-05T21:06:38.783</Servertime>\r\n
        \   <Traincode>E829 </Traincode>\r\n    <Stationfullname>Clongriffin</Stationfullname>\r\n
        \   <Stationcode>GRGRD</Stationcode>\r\n    <Querytime>21:06:38</Querytime>\r\n
        \   <Traindate>05 Oct 2015</Traindate>\r\n    <Origin>Greystones</Origin>\r\n
        \   <Destination>Malahide</Destination>\r\n    <Origintime>20:00</Origintime>\r\n
        \   <Destinationtime>21:20</Destinationtime>\r\n    <Status>En Route</Status>\r\n
        \   <Lastlocation>Departed Clontarf Road</Lastlocation>\r\n    <Duein>12</Duein>\r\n
        \   <Late>6</Late>\r\n    <Exparrival>21:17</Exparrival>\r\n    <Expdepart>21:18</Expdepart>\r\n
        \   <Scharrival>21:12</Scharrival>\r\n    <Schdepart>21:12</Schdepart>\r\n
        \   <Direction>Northbound</Direction>\r\n    <Traintype>DART</Traintype>\r\n
        \   <Locationtype>S</Locationtype>\r\n  </objStationData>\r\n  <objStationData>\r\n
        \   <Servertime>2015-10-05T21:06:38.783</Servertime>\r\n    <Traincode>E830
        </Traincode>\r\n    <Stationfullname>Clongriffin</Stationfullname>\r\n    <Stationcode>GRGRD</Stationcode>\r\n
        \   <Querytime>21:06:38</Querytime>\r\n    <Traindate>05 Oct 2015</Traindate>\r\n
        \   <Origin>Greystones</Origin>\r\n    <Destination>Malahide</Destination>\r\n
        \   <Origintime>20:30</Origintime>\r\n    <Des[...]
